@model ao188116_MIS4200.Models.Vet

@{
    ViewBag.Title = "Vet Details";
}

<h2>Vet Details</h2>

<div>
    <h4>Vet</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
           
           Full Name

        </dt>

        <dd>
            @Html.DisplayFor(model => model.vFullName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit Vet Details", "Edit", new { id = Model.vetID }) |
    @Html.ActionLink("Back to List of Vets", "Index")
</p>
