@{
    ViewBag.Title = "About My hometown";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>I was born and raised in the suburbs of Dayton, Ohio and moved away for the first time ever four years ago to attend
    Ohio University. Dayton is an awesome city with a lot of fun things to do and a great history behind it
    as well. One fun fact about Dayton is that the first mechanical cash register was invented there.</p>
