@{
    ViewBag.Title = "Ways to Contact Me";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Alex Olinger<br />
    Copeland 012<br />
    <abbr title="Phone">Phone:</abbr>
    740.123.4567
</address>

<address>
    <strong>Email:</strong>   <a href="mailto:ao188116@ohio.edu">ao188116@ohio.edu</a><br />
    
</address>