@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1 style= "        background-color: MediumSeaGreen;"> Alex Olinger's MVC Application</h1>
    <p class="lead">This is the first MVC application I have ever created.</p>
    
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Basic Info</h2>
        <p>
            Hi! I am Alex, I am a senior at Ohio University. I am from Dayton, Ohio (see "About" section for more).
            Some things I enjoy to do in my free time include hanging out with friends and playing with my cat, Oliver.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Education</h2>
        <p>
            I am currently majoring in Management Information Systems
            (MIS) and business analytics with a minor in finance. <br />
            @Html.ActionLink("Owners","Index","Owners") <br />
            @Html.ActionLink("Pets","Index","Pets") <br />
            @Html.ActionLink("Appointments","Index","Appointments") <br />
            @Html.ActionLink("Vets","Index","Vets") <br />
        </p>
        <p><a class="btn btn-default" href="https://business.ohio.edu/">College of Business &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Learning</h2>
        <p>Another thing that I enjoy doing is learning new things. Whether it is for school or just in my
        free time. I am really enjoying learning all these new things about MVC and I can't wait to see all of the 
        incredible things we learn to do with it.
     </p>
    </div>
</div>